@charset "utf-8";
/* CSS Document */

body {
	background-image: url("pozadina2.jpg")
}
h1 {
	font-family:Cambria, "Hoefler Text", "Liberation Serif", Times, "Times New Roman", "serif";
	color:black;
	font-size:100px;
	line-height:2px;
}
a {
	font-family: Impact, Haettenschweiler, "Franklin Gothic Bold", "Arial Black", "sans-serif";
	color:black;
	font-size: 30px;
	padding-right: 10px;
	
}
h2 {
	font-family:Cambria, "Hoefler Text", "Liberation Serif", Times, "Times New Roman", "serif";
	color:black;
	font-size:45px;

}
p{
	font-style: italic;
	font-family: Consolas, "Andale Mono", "Lucida Console", "Lucida Sans Typewriter", Monaco, "Courier New", "monospace";

}